<div id="about">

<div class="row">
  <div class="col-sm-4"><%= image_tag("img1.jpg", class: "img-responsive", size: "800x800" ) %></div>
  <div class="col-sm-8">Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services. A more comprehensive list of tasks to which web development commonly refers, may include web engineering, web design, web content development, client liaison, client-side/server-side scripting, web server and network security configuration, and e-commerce development. Among web professionals, "web development" usually refers to the main non-design aspects of building web sites: writing markup and coding. Most recently Web development has come to mean the creation of content management systems or CMS. These CMS can be made from scratch, proprietary or open source. In broad terms the CMS acts as middleware between the database and the user through the browser. A principle benefit of a CMS is that it allows non-technical people to make changes to their web site without having technical knowledge.</div>
</div>

<div class="row">
  <div class="col-sm-8">Cornerstone is one of Calgary’s top internet development firms, having designed and developed hundreds of
websites and dozens of web based applications for top companies and organizations. We also frequently collaborate with top creative, marketing and advertising agencies.Cornerstone has been one of Calgary's top web development firms since 2004. We specialize in developing complex sites with advanced features, e-commerce capabilities, and custom built web applications. We’ve built a lot of websites. A LOT. In fact, over the last dozen years we’ve built over 300 websites, most were built on Content Management Systems and many of which included E-commerce functionality. That’s a lot of websites, you’d think we were a software building machine! But we aren’t. Deep down, we are people just like you...that’s why it’s fun to work with us.</div>
 </div>
</div>