<div class="about">

<div class="row">

  <div class="col-sm-4">
  <%= image_tag("myimg.JPG", class: "img-responsive" ) %>
  	</div>
  

  <div class="col-sm-8">
  	<h1>Web Development</h1>
  	<h2>Passionate to Build new Applications for you</h2>
  	
  	<p></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
  <h3>Rombod Madgidi</h3>
  <h3>Full Stack Developer</h3>
  <h3>Living in Calgary, Alberta, Canada</h3>
  </div>
  <div class="col-sm-8">
  </div>
 </div>
</div>