<div id="home">

<div class="inner cover">
<p class="cover-heading">Let us Represent your Business ...</p>
<p class="lead">
<a href="projects" class="btn btn-lg btn-default">Check it out</a>
</p>
</div>
</div>
